stages:
  - build
  - test

build-job:
  stage: build
  image: ubuntu:20.04-build
  script:
    - mkdir build && cd build
    - cmake .. -DCMAKE_BUILD_TYPE=Debug -DCOVERAGE_ENABLED=ON
    - cmake --build .
  artifacts:
    paths:
      - build/tests

test-job:
  stage: test
  image: ubuntu:20.04-build
  script:
    - cd build
    - cmake --build . --target coverage
    - cd ..
    - gcovr --xml-pretty --print-summary --exclude-unreachable-branches -e .deps -e tests -o coverage.xml --root .

  coverage: /^\s*lines:\s*\d+.\d+\%/
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHA}
    paths:
      - build/coverage
    reports:
      cobertura: coverage.xml
